*{
    margin: 0;
    padding: 0;
}
.exploreMainContent {
  height: 100%;
  color: white;
}

.exploreTitle {
  font-size: 4vh;
  padding-bottom: 5vh;
  text-align: center;
}



.productsBox{
    padding-inline-start: 10%;
    padding-inline-end: 10%;
}

.productsContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 16px;
  @media screen and (min-width: 600px){
    column-gap: 20px;
  }
}


.Container {
  flex: 1;
  margin: 5px;
  min-width: 25%;
  height: 90px;
  display: flex;
  position: relative;
  background-color: transparent;
  position: relative;
  border-radius: 5px;
  align-items: center;
  
}
.Container:hover {
  opacity: 1;
  cursor: pointer;
}

.Circle {
  width: 100px;
  height: 100px;
  border-radius: 10%;
  background-color: #f5fbfd;
  position: relative;
  overflow: hidden;
  padding: var(--space-small);
  -webkit-box-flex: 0;
  margin: 0;
  display: block;
} 

.Image {
  height: 100%;
  width: 100%;
  z-index: 2;
  border-radius: 15px;
  position:absolute;
  overflow: hidden;
  display: block;
  align-items: center;
  overflow: hidden;

}

.productText{
    padding-left: 10px;
    font-weight: 600;
}
.productDesc{
    padding-left:10px;
    font-weight: 600;
    color: #68D391;
}

