*{
    margin: 0;
    padding: 0;
}
.exploreMainContent {
  height: 100%;
  color: white;
  border-style: solid;
  text-align: center;
}

.exploreTitle {
  font-size: 4vh;
}

.productsBox{
    padding-inline-start: 10%;
    padding-inline-end: 10%;
}

.productsContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 16px;
  @media screen and (min-width: 600px){
    column-gap: 16px;
  }

}
.Container {
  flex: 1;
  margin: 5px;
  min-width: 25%;
  height: 90px;
  display: inline-flex;
  position: relative;
  background-color: transparent;
  position: relative;
  border-radius: 5px;
  align-items: center;
  -webkit-box-align: center;
}
.Container:hover {
  opacity: 1;
  cursor: pointer;
}

.Circle {
  width: 100px;
  height: 100px;
  border-radius: 10%;
  background-color: #f5fbfd;
  position: static;
  opacity: 1;
}

.Image {
  height: 50%;
  z-index: 2;
  border-radius: 15px;
  position: absolute;
  justify-content: center;
  overflow: hidden;
  align-items: center;
}

.productText{
    padding: 10px;
    font-weight: 600;

}
