.container{
  height: 10vh;
  padding: 10px;
  display: flex;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 10vh;
    background-color: #121619;;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    box-shadow: #121619;
    z-index: 10;
  }

.title{
  font-family: 'Times New Roman', Times, serif;
}

.left{
  flex: 1;
  display: flex;
  align-items: center;
  border: 15px;
  max-width: 500px;
}
.searchBar{
  border-radius: 20px;
  opacity: 50%;
  width:100%;
  min-width: 3REM;
  height:3rem;
  margin:7px
}
 .searchBar::placeholder {
  color: #878d96;
}